.App {
  background-color: #b3ecff;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
}

.todo-item {
  background-color: #f5deb3;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.todo-footer {
  margin-top: 10px;
}